.cartItem {
  display: flex;
  align-items: center;
}

.cartItemThumb {
  height: 2rem;
  border-radius: .25rem;
  margin-right: .5rem;
}

.cartItemInfo {
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  font-size: .75rem;
  color: #b5b6ba;
  font-weight: 500;
}

.cartItemTotal {
  color: #1e1e20;
  margin-left: .5rem;
}

.cartItemDeleteIcon {
  margin-left: auto;
  cursor: pointer;
}

.checkoutBtn {
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  padding: .75rem 2rem;
  font-weight: bold;
  font-size: .875rem;
  color: #fff;
  background-color: #ff7d1b;
  /* box-shadow: 0 0 10px 1px #ff7d1b; */
  border: none;
  outline: none;
  border-radius: .375rem;
}