.slick-slide {
  width: 25rem;
  height: 25rem;
}

@media screen and (max-width: 767px) {
  .slick-slide {
    width: 100vw;
    height: 17.5rem;
  }
}

.slick-prev,
.slick-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
  z-index: 1;
}

.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}

.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  background: white url('../../../public/images/icon-previous.svg') no-repeat center;
}

.slick-next,
.slick-next:focus,
.slick-next:hover {
  background: white url('../../../public/images/icon-next.svg') no-repeat center;
}

@media screen and (max-width: 767px) {
  .slick-prev {
    left: 15px;
  }

  .slick-next {
    right: 15px;
  }
}

.slick-prev::before,
.slick-next::before {
  display: none;
}